# ========================
# Python
# ========================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env

# ========================
# Node
# ========================
frontend/node_modules/
frontend/dist/
frontend/.env

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Logs
# ========================
*.log